<section id="hops-section" class="card">
    <h2>Hops</h2>
    <div class="card-content">
        <% if (recipe.hops && recipe.hops.length > 0) { %>
            <div id="hops-list">
                <% 
                // Group hops by use
                const hopGroups = {};
                recipe.hops.forEach(hop => {
                    if (!hopGroups[hop.USE]) {
                        hopGroups[hop.USE] = [];
                    }
                    hopGroups[hop.USE].push(hop);
                });
                
                // Display each group
                Object.keys(hopGroups).forEach(useType => {
                %>
                    <div class="hop-group">
                        <h3 class="hop-group-title"><%= useType %> Hops</h3>
                        <div class="hop-cards">
                            <% hopGroups[useType].forEach(hop => { %>
                                <div class="hop-card">
                                    <div class="use-indicator" style="background-color: <%= hopUseToColor(hop.USE) %>;"></div>
                                    <div class="hop-content">
                                        <div class="hop-name"><%= hop.NAME %></div>
                                        <div class="hop-details">
                                            <span class="amount"><%= hop.AMOUNT %> g</span>
                                            <span class="time"><%= formatHopTime(hop.TIME, hop.USE) %></span>
                                            <% if (hop.ALPHA) { %>
                                                <span class="alpha"><%= hop.ALPHA %>% AA</span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="empty-state">
                <p>No hops added to this recipe.</p>
            </div>
        <% } %>
    </div>
</section>
